<%inherit file="base.html"/>
<%!
  from headphones import helpers
%>

<%def name="headerIncludes()">
  <div id="subhead_container">
    <ul id="subhead_menu">
      <li><a href="suggestions">Artists You May Like</a></li>
    </ul>
  </div>
</%def>

<%def name="body()">
  <form action="markArtists" method="get">
    <div class="table_wrapper table_sorting">
      <p class="right">
        <select name="action">
          <option value="pause">Pause</option>
          <option value="resume">Resume</option>
          <option value="refresh">Refresh</option>
          <option value="delete">Delete</option>
        </select>
        selected artists
        <input type="submit" value="Go">
      </p>

      <table class="display" id="artist_table">
        <thead>
          <tr>
            <th id="select">
              <input type="checkbox" onClick="toggle(this)" />
            </th>
            <th id="name">Artist Name</th>
            <th id="status">Status</th>
            <th id="album">Latest Album</th>
            <th style="min-width:120px;">Last Release</th>
            <th id="have">Tracks</th>
          </tr>
        </thead>
        <tbody>
        %for artist in artists:
          <%
            totaltracks = artist['TotalTracks']
            havetracks = artist['HaveTracks']

            if not havetracks:
              havetracks = 0
            try:
              percent = (havetracks*100.0)/totaltracks
              if percent > 100:
                percent = 100
            except (ZeroDivisionError, TypeError):
              percent = 0
              totaltracks = '?'

            if artist['Status'] == 'Paused':
              grade = 'X'
            elif artist['ReleaseDate'] and artist['ReleaseDate'] > helpers.today():
              grade = 'A'
            else:
              grade = 'Z'
          %>
          <tr class="grade${grade}">
            <td id="select">
              <input type="checkbox" name="${artist['ArtistID']}" class="checkbox" />
            </td>
            <td id="name">
              <span title="${artist['ArtistSortName']}"></span>
              <a href="artistPage?ArtistID=${artist['ArtistID']}">${artist['ArtistName']}</a>
            </td>
            <td id="status">
              ${artist['Status']}
            </td>
            <td id="album">
              <a title="${artist['LatestAlbum']}" href="albumPage?AlbumID=${artist['AlbumID']}">${artist['LatestAlbum'] if artist['LatestAlbum'] else ''}</a>
            </td>
            <td>
              ${artist['ReleaseDate'] if artist['ReleaseDate'] else ''}
            </td>
            <td id="have">
              <span title="${percent}"></span>
              <div class="progress-container">
                <div style="width:${percent}%">
                  <div class="havetracks">${havetracks}/${totaltracks}</div>
                </div>
              </div>
            </td>
          </tr>
        %endfor
        </tbody>
      </table>
    </div>
  </form>
</%def>

<%def name="headIncludes()">
  <link rel="stylesheet" href="css/data_table.css">
</%def>

<%def name="javascriptIncludes()">
  <script src="js/libs/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready( function() {
      $('#artist_table').dataTable( {
          "aoColumns": [
            { "bSortable": false },
            { "sType": "title-string"},
            null,
            { "sType": "title-string"},
            { "sType": "date"},
            { "sType": "title-numeric"}
          ],
          "bStateSave": true,
          "iDisplayLength": 50,
          "sPaginationType": "full_numbers"
        } );
    } );
  </script>
</%def>